@page "/movieplayer"
@using HomePlayer_SharedModel;
@using HomePlayer_Blazor.Data;
@inject NavigationManager navigationManager
@inject MovieService MovieService

<PageTitle>Movie Upload</PageTitle>



@if (selectedMovie == null)
{
    <p><em>Ładowanie...</em></p>
}
else
{
    <h3>@selectedMovie.Title</h3>
    <br />
    <video width="640" height="360" controls src="@moviesrc"></video>
}

@code {
    private Movie? selectedMovie;
    private string? moviesrc;

    protected override async Task OnInitializedAsync()
    {
        selectedMovie = await MovieService.GetSelectedMovieAsync();
        if (selectedMovie != null)
        {
            moviesrc =  "http://192.168.100.3:5090/movie/" + selectedMovie.FileName;
        }
    }
}
